extends layout

block content

    section#about-us
      .container
        .center.wow.fadeInDown
          h2 Our Mission
          p.lead Antech Enviro Philippines’ mission is to become The Philippines FIRST CHOICE provider of QRA, Production,Inspection
          P.lead equipment and test consumable for the semiconductor and electronic industry.
        
        hr
            
        .center.wow.fadeInDown
          h2 Our History
          p.lead &bull; Started in 1997 and specializes in Semiconductor QRA and inspection instrumentation and consumable
          p.lead &bull; The HQ office is located in Manila and satellite office in Dasmarinas, Cavite.
          p.lead &bull; Prior to incorporation in 1997, Antech Singapore (mother company) was responsible for sales and support of Philippine customer.
          p.lead &bull; Antech-Enviro Philippines Inc. became an independent company since 2002 with a support office in Singapore named Mateq(s) Pte. Ltd.
          p.lead &bull; Continuously maintain Antech culture of providing excellent know-how and product support & services to the industries.
          p.lead &bull; Test and Instrumentation on Our Market and Industry Coverage
        
        hr
          
        .center.wow.fadeInDown
          h2 Our Market and Industry Coverage
          p.lead &bull; Integrated circuit (IC) Packaging and Test
          p.lead &bull; Advance integrated circuit packaging
          p.lead &bull; Printed circuit board (PCB) and assembly (PCBA)
          p.lead &bull; Storage and media
          
        //hr
        
        //.center.wow.fadeInDown
          //h2 Organization Chart
          //a(data-toggle='lightbox', data-width='1000', href='/images/org_chart.png')
            //img.img-responsive(src='/images/org_chart.png', alt='')
        // section
      // /.container
    // /about-us
                  
    include ./includes/bottom.jade