doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Antech-Enviro
    // core CSS
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/font-awesome.min.css', rel='stylesheet')
    link(href='/css/animate.min.css', rel='stylesheet')
    link(href='/css/prettyPhoto.css', rel='stylesheet')
    link(href='/css/main.css', rel='stylesheet')
    link(href='/css/responsive.css', rel='stylesheet')
    link(href='/css/ekko-lightbox.min.css', rel='stylesheet')
    link(href='/css/jquery.flipster.css', rel='stylesheet')
    link(href='/css/flipsternavtabs.css', rel='stylesheet')
    //if lt IE 9
      script(src='/js/html5shiv.js')
      script(src='/js/respond.min.js')
    link(rel='shortcut icon', href='images/ico/favicon.ico')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/images/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/images/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/images/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/images/ico/apple-touch-icon-57-precomposed.png')
  // /head
  body.homepage
    include ./includes/header.jade
  
  
    //BEGIN content            
    block content
    //END content    
    
    footer#footer.midnight-blue
      .container
        .row
          .col-sm-6
            | © #{new Date().getFullYear()} 
            a(target='_blank', href='antech-enviro', title='Antech-Enviro') Antech-Enviro
            | . All Rights Reserved.
          .col-sm-6
            ul.pull-right
              li
                a(href='/') Home
              li
                a(href='/about') About Us
              li
                a(href='/products?selPrincipalId=#{session.principals[0].id}') Products
              li
                a(href='/contact') Contact Us
    // /#footer
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/jquery.prettyPhoto.js')
    script(src='/js/jquery.isotope.min.js')
    script(src='/js/main.js')
    script(src='/js/wow.min.js')
    script(src='/js/ekko-lightbox.min.js')
    script(src='/js/truncate.js')
    script(src='/js/jquery.flipster.js')
    script.
      $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox();
      });
      $(function(){ $(".flipster").flipster({ style: 'carousel', start: 0 }); });

