extends layout

block content

    section#about-us
      .container
        .center.wow.fadeInDown
          h2 Our Services
        
            
        .center.wow.fadeInDown
          h2 PBC Design and Fabrication

        hr
          
        .wow.fadeInDown
          .row
            .col-sm-8.col-md-8
              h2 Design Capability
              p.lead &bull; 10 full time experienced designers, with IPC compliance and certification.
              p.lead &bull; Altium DXP Platform.
              p.lead &bull; PCB layout editor
              p.lead &bull; CAM editor
              p.lead &bull; On-line and on-demand PCB Board Definition & Design Rules
              p.lead &bull; Managed component library (version control)
              p.lead &bull; Wide cross-compatibility Import/Export (Orcad, Allegro, PADs, DXDesigner, CADstar, P-CAD, CircuitMaker, Protel)
              p.lead &bull; More than 10 years design experience.
              p.lead &bull; Final test hardware
              p.lead &bull; Sort test hardware
              p.lead &bull; Reliability hardware
            .col-sm-4.col-md-4
              img(src='/data/design_capability.png',class='img-thumbnail',style='position:relative;top:290px;')


        hr  
        .wow.fadeInDown
          .row
              .col-sm-8.col-md-8
                h2 Fabrication Capability
                p.lead Multiple materials – Enhanced FR4 std.
                p.lead &bull; BGA pitches down to 0.4 mm
                p.lead &bull; Multi-lam to 5 lamination cycles
                p.lead &bull; Laser-direct imaging
                p.lead &bull; Mixed dielectric constructions
                p.lead &bull; 54+ layers
                p.lead &bull; Finished PCB thickness to .310
                p.lead &bull; Bow & twist to 0.003 in/in
                p.lead &bull; Selective (DUT area) flatness to 0.001 in/in
                p.lead &bull; Hard, soft & immersion gold finish available
                p.lead &bull; Impedance modeling/testing
              .col-sm-4.col-md-4
                br
                br
                br
                br
                br
                br
                .row
                  .col-sm-12.col-md-12
                    div(class='thumbnail',style='border:none !important;')
                      img(src='/data/38-layer.png')
                      .caption
                        center 38-layer with Paragon Laser Imaging
                br
                .row
                  .col-sm-6.col-md-6
                    .thumbnail
                      img(src='/data/Laser Imaged (4 mil Pad).png')
                      .caption
                        center Laser Imaged (4 mil Pad)
                  .col-sm-6.col-md-6
                      div(class='thumbnail')
                        img(src='/data/Laser Imaged (4 mil Pad)2.png')
                        .caption
                          center Conventional (4 mil Pad)
        
        hr  
        .wow.fadeInDown
          h2 Probecards Technology
          p.lead &bull; Cantilever/ Epoxy Technology
          p.lead &nbsp -Pitch capability of 55um
          p.lead &nbsp -Up to 10 layers pins stack up and ability to built as array probecard
          p.lead &nbsp -Tight pitch capability:
          p.lead &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -40um in line pad
          p.lead &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -30/60um Dual Rows Staggered
          p.lead &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -35/70um or 3 to 4 rows staggered

          h2.lead  &bull; Spring Touch (Pogo pin type)
          h2.lead  &bull; Fine Pitch Technology (Logic Touch)
          p.lead &nbsp -Tighter pitches and high parallelism
          p.lead &nbsp -Capable of 60um pitch with roadmaps towards 40um in configurations of X4, X8 and beyond.
          p.lead &nbsp -Utilizes MEMS-style probe
          p.lead &bull; Venture FX
          p.lead &nbsp;-Standard In-line Pad Pitches of 40µm 
          p.lead &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -30µm in Development
          p.lead &nbsp;&nbsp;&nbsp;&nbsp;&bull; 2 Row Stagger to 25/50µm
          p.lead &nbsp;&nbsp;&nbsp;&nbsp;&bull; 3 Row Stagger to 30/60µm
          p.lead &nbsp;-Measured Scrub Lengths Correspond Very closely to Design Estimates
          p.lead &nbsp;-Shorter Scrub Lengths

        hr
        .wow.fadeInDown
          p.lead &bull;PCB repair, restoration, modification (Antech In-House)  
          p.lead &nbsp&nbsp&nbsp&nbsp&bull;IPC method certified CIS for PCB repair
          p.lead &nbsp&nbsp&nbsp&nbsp&bull;Re-plating of gold contact pads/ fingers
          p.lead &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&bull;Copper leveling and burnishing
          p.lead &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&bull;Nickel electroplating, Gold electroplating
          p.lead &bull;Restoration of burned or peeled traces
          p.lead &nbsp&nbsp&nbsp&nbsp;Trace replacement, Re-masking
          p.lead &bull;Restoration of peeled SMD or through hole pads
          p.lead &nbsp&nbsp&nbsp&nbsp;Replacement and connection
          p.lead &bull;Modification of circuit/connection external or internal layers
          p.lead &bull;Repair of physical damage (e.g. deformed corners, edge)
          p.lead &bull;BGA re-ball and re-mount

        hr
        .wow.fadeInDown
          h2.lead PCB Board Repairs/Restorations
          .row
            .col-sm-6.col-md-6
              .row
                .col-sm-12.col-md-12
                  h3 PCB/PCBA Modifications
                .col-sm-6.col-md-6
                  .thumbnail
                    img(src='/data/before_pcb1.jpg')
                    .caption
                      h3.label.label-danger Before Repair
                 .col-sm-6.col-md-6
                  .thumbnail
                    img(src='/data/after_pcb1.jpg')
                    .caption
                      h3.label.label-success After Repair
            .col-sm-6.col-md-6
              .row
                .col-sm-12.col-md-12
                  h3 Damaged Trace Repairs
                .col-sm-6.col-md-6
                  .thumbnail
                    img(src='/data/damage_before.jpg')
                    .caption
                      h3.label.label-danger Before Repair
                 .col-sm-6.col-md-6
                  .thumbnail
                    img(src='/data/damage_after.jpg')
                    .caption
                      h3.label.label-success After Repair
          .row
            .col-sm-6.col-md-6
              .row
                .col-sm-12.col-md-12
                  h3 DAMAGED CORNER EDGE REPAIR
                .col-sm-6.col-md-6
                  .thumbnail
                    img(src='/data/damage_corner_before.jpg')
                    .caption
                      h3.label.label-danger Before Repair
                 .col-sm-6.col-md-6
                  .thumbnail
                    img(src='/data/damage_corner_after.jpg')
                    .caption
                      h3.label.label-success After Repair
            .col-sm-6.col-md-6
              .row
                .col-sm-12.col-md-12
                  h3 DAMAGED PAD to VIA REPAIR
                .col-sm-6.col-md-6
                  .thumbnail
                    img(src='/data/damage_pad_before.jpg')
                    .caption
                      h3.label.label-danger Before Repair
                 .col-sm-6.col-md-6
                  .thumbnail
                    img(src='/data/damage_pad_after.jpg')
                    .caption
                      h3.label.label-success After Repair

        hr
        .wow.fadeInDown
          h2.lead PCB Board Modifications
          .row
            .col-sm-6.col-md-6
              .thumbnail
                img(src='/data/pcb_mod_before.jpg')
                .caption
                  h3.label.label-danger Before Repair
             .col-sm-6.col-md-6
              .thumbnail
                img(src='/data/pcb_mod_after.jpg')
                .caption
                  h3.label.label-success After Repair

        hr
        .wow.fadeInDown
          h2.lead DAMAGED CORNER EDGE REPAIR
          .row
            .col-sm-6.col-md-6
              .thumbnail
                img(src='/data/edge_repair_before.jpg')
                .caption
                  h3.label.label-danger Before Repair
             .col-sm-6.col-md-6
              .thumbnail
                img(src='/data/edge_repair_after.jpg')
                .caption
                  h3.label.label-success After Repair
          
        hr
        .wow.fadeInDown
          h2.lead LIFTED PADS REPAIR
          .row
            .col-sm-6.col-md-6
              .thumbnail
                img(src='/data/lifted_before.jpg')
                .caption
                  h3.label.label-danger Before Repair
             .col-sm-6.col-md-6
              .thumbnail
                img(src='/data/lifted_after.jpg')
                .caption
                  h3.label.label-success After Repair
                    
        hr
        .wow.fadeInDown
          h2.lead LIFTED PADS REPAIR
          .row
            .col-sm-6.col-md-6
              .thumbnail
                img(src='/data/pad_on_before.jpg')
                .caption
                  h3.label.label-danger Before Repair
             .col-sm-6.col-md-6
              .thumbnail
                img(src='/data/pad_on_after.jpg')
                .caption
                  h3.label.label-success After Repair

        hr
        .wow.fadeInDown
          h2.lead GOLD PLATING REWORK
          .row
            .col-sm-6.col-md-6
              .thumbnail
                img(src='/data/gold_plating_before.jpg')
                .caption
                  h3.label.label-danger Before Repair
             .col-sm-6.col-md-6
              .thumbnail
                img(src='/data/gold_plating_after.jpg')
                .caption
                  h3.label.label-success After Repair
                    
          
                  
    include ./includes/bottom.jade